# EmailJS Configuration
# Sign up at https://www.emailjs.com/ and get your credentials
VITE_EMAILJS_SERVICE_ID="service_b5opn6s"
VITE_EMAILJS_TEMPLATE_ID="template_ukrojut"
VITE_EMAILJS_PUBLIC_KEY="jIuB1ITW8L_kdoP_2"
